spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  datasource:
    url: jdbc:mysql://${MYSQL_DATABASE_HOST:localhost}:${MYSQL_DATABASE_PORT:3306}/transactions?useSSL=false&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER:admin}
    password: ${MYSQL_PASSWORD:admin_password_123}
    driver-class-name: com.mysql.cj.jdbc.Driver

